
config.json
ORG-config.json
devconfig.json
token-config.json
Database/BDInfo.json
Database/faq.json
Database/rules.json
Database/DBInfo.json
Database/coins.json
*.pyc
Database/NotUsed/coins.json
Database/NotUsed/custom_commands.json
Database/NotUsed/DBInfo.json
Database/NotUsed/faq.json
Database/NotUsed/faq_aliases.json
Database/NotUsed/info_aliases.json
Database/NotUsed/rules.json
Database/NotUsed/info.json
Database/NotUsed/sticky_notes.json
*.db


USE FOR MAIN BOT config.json
*.log
cogs/temptriv.py
main - Copy.py
config - Copy.json
mainconfig.py
config.py
cogs/TestingButtons.py
