
cogs/__pycache__/countdown.cpython-310.pyc
cogs/__pycache__/countdown.cpython-310.pyc
cogs/__pycache__/faq.cpython-310.pyc
cogs/__pycache__/countdown.cpython-310.pyc
cogs/__pycache__/mod.cpython-310.pyc
cogs/__pycache__/ping.cpython-310.pyc
cogs/__pycache__/pkmstuff.cpython-310.pyc
cogs/__pycache__/rules.cpython-310.pyc
cogs/__pycache__/welcome.cpython-310.pyc
cogs/__pycache__/welcome_info.cpython-310.pyc
config.json
Database/BDInfo.json
Database/faq.json
Database/rules.json
Database/DBInfo.json
token-config.json
Database/coins.json
*.pyc
Database/sticky_notes.json
Database/sticky_notes.db
Database/custom_commands.db
Database/NotUsed/coins.json
Database/NotUsed/custom_commands.json
Database/NotUsed/DBInfo.json
Database/NotUsed/faq.json
Database/NotUsed/faq_aliases.json
Database/NotUsed/info_aliases.json
Database/NotUsed/rules.json
Database/NotUsed/info.json
Database/NotUsed/sticky_notes.json
