{
    "token": "YOUR_BOT_TOKEN",
    "prefix": "!",
    "owner_id": OWNER_ID_HERE,
    "guild_id": GUILD_ID_HERE,
    "logo_url": Logo URL",
    "stream_name": "Stream Name",
    "stream_url": "stream Link",

    "channel_ids": {
        "WelcomeChannel": CHANNEL_ID_HERE,
        "RulesChannel": CHANNEL_ID_HERE,
        "FAQChannel": CHANNEL_ID_HERE,
        "RoleChannel": CHANNEL_ID_HERE,
        "AutoMod": CHANNEL_ID_HERE,
        "ModLogs": CHANNEL_ID_HERE,
        "MemberLogs": CHANNEL_ID_HERE,
        "ServerLogs": CHANNEL_ID_HERE,
        "MessageLogs": CHANNEL_ID_HERE,
        "StreamChannel": CHANNEL_ID_HERE
    },

    "token_refresher_enabled": false,

    "twitch_username": "YOUR_TWITCH_USERNAME",
    "twitch_client_id": "YOUR_TWITCH_CLIENT_ID",
    "twitch_oauth_token": "YOUR_TWITCH_OAUTH_ID",
    "youtube_channel_id": "YOUR_YOUTUBE_CHANNEL_ID",
    "youtube_channel_name": "YOUR_YOUTUBE_CHANNEL_NAME",
    "youtube_api_key": "YOUR_YOUTUBE_API_KEY",

    "enable_countdown": false,
    "countdown_channel_id": CHANNEL_ID_HERE,
    "target_timestamp": 1668421200,
}