{
    "token": "YOUR_BOT_TOKEN",
    "prefix": "!",
    "owner_id": OWNER_ID_HERE,
    "enable_countdown": false,
    "countdown_channel_id": CHANNEL_ID_HERE,
    "target_timestamp": 1668421200,
    "welcome_channel_id": CHANNEL_ID_HERE,
    "rules_channel_id": CHANNEL_ID_HERE,
    "mod_logs_channel_id": CHANNEL_ID_HERE,
    "faq_channel_id": CHANNEL_ID_HERE,
    "message_logger_channel_id": CHANNEL_ID_HERE,
    "role_channel_id": CHANNEL_ID_HERE,
    "member_logs_channel_id": CHANNEL_ID_HERE,
    "server_logs_channel_id": CHANNEL_ID_HERE,
    "token_refresher_enabled": false,
    "twitch_username": "YOUR_TWITCH_USERNAME",
    "twitch_client_id": "YOUR_TWITCH_CLIENT_ID",
    "youtube_channel_id": "YOUR_YOUTUBE_CHANNEL_ID",
    "youtube_channel_name": "YOUR_YOUTUBE_CHANNEL_NAME",
    "youtube_api_key": "YOUR_YOUTUBE_API_KEY",
    "stream_channel_id": "YOUR_DISCORD_CHANNEL_ID"
}